header {
  width: calc(100% - 46%);
  margin: auto;
  background: rgb(237, 237, 237);
  height: 10rem;
  padding: 10px;
  .main-UsDebt {
    background: rgb(103, 103, 103);
    color: white;
    font-size: 2vw;
    width: fit-content;
    margin: auto;
    padding: 1rem 2rem;
  }
  .main-debtPerSec {
    background: rgb(103, 103, 103);
    color: white;
    font-size: 1vw;
    width: fit-content;
    margin: 1rem auto 0;
    padding: 0.5rem 1rem;
  }
}
