.ManualClickers {
  color: white;
  width: fit-content;
  height: fit-content;
  text-align: center;
  background: rgb(46, 46, 46);
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
button {
  background: rgb(111, 111, 111);
}
