@import "./auto-clickers";
@import "./debtApi";
@import "./debt-display";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);
  }
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  background: rgb(27, 40, 40);
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.navbar {
  width: 100%;
  height: 3rem;
  display: block;
  background: rgb(46, 46, 46);
  color: white;
  ul {
    display: flex;
    width: fit-content;
    height: inherit;
    li {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      list-style: none;
      font-size: 1.2rem;
      border-right: 1px solid white;
      height: 100%;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: rgb(97, 97, 97);
        cursor: pointer;
      }
    }
  }
}

button {
  margin: 3px;
  padding: 8px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.1);
}
button:active {
  box-shadow: 0 0 10px black;
  transform: scale(1.05);
}

.debt-decreasors {
  width: fit-content;
  position: absolute;
  top: 3rem;
  left: 0;
  height: calc(100% - 3rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  > div {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 20rem;
    background: rgb(46, 46, 46);
    color: white;
    border-top: 2px solid white;
    h2 {
      position: sticky;
      top: 0;
      padding: 0.5rem 0;
      background: rgb(91, 91, 91);
      border-bottom: 2px solid black;
    }
  }
}
.debt-increasors {
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 0;
  height: calc(100% - 3rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  > div {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 20rem;
    background: rgb(46, 46, 46);
    color: white;
    border-top: 2px solid white;
    h2 {
      position: sticky;
      top: 0;
      padding: 0.5rem 0;
      background: rgb(91, 91, 91);
      border-bottom: 2px solid black;
    }
  }
}

.game-updates-container {
  max-width: calc(100% - 40rem);
  height: 15rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: scroll;
  border-top: 1px solid grey;
  .game-updates {
    min-height: 100%;
    width: 100%;
    background: rgb(46, 46, 46);
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    p {
      color: white;
      text-align: right;
      padding: 5px;
      border-radius: 5px;
      background: grey;
    }
    p:last-child {
      background: rgb(196, 196, 196);
      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
  .debt-decreasors {
    flex-direction: column;
  }
  .debt-increasors {
    flex-direction: column;
  }
}
