.AutoClickers {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background: #2e2e2e;
}

button {
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.autoclick-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid grey;
}

.autoclick-item .autoclick-autoPerSecValue {
  font-weight: bold;
}

.autoclick-item .autoclick-price {
  color: #a5a5a5;
  font-size: 0.75rem;
}

.autoclick-item .autoclick-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.autoclick-item .autoclick-button-container .increment-button {
  background: #79b879;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.autoclick-item .autoclick-button-container .decrement-button {
  background: #c66464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.autoclick-item .autoclick-button-container .autoClick-disabled {
  background: grey;
}

.autoclick-item .autoclick-button-container .autoClick-disabled:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.autoclick-item .autoclick-button-container .autoClick-disabled:active {
  -webkit-transform: none;
          transform: none;
}

header {
  width: calc(100% - 46%);
  margin: auto;
  background: #ededed;
  height: 10rem;
  padding: 10px;
}

header .main-UsDebt {
  background: #676767;
  color: white;
  font-size: 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
}

header .main-debtPerSec {
  background: #676767;
  color: white;
  font-size: 1vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
}

.navbar {
  width: 100%;
  height: 3rem;
  display: block;
  background: #1d1d1d;
  color: white;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
}

.navbar ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  list-style: none;
  font-size: 1.2rem;
  border-right: 1px solid white;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar ul li:hover {
  background: #616161;
  cursor: pointer;
}

.DebtData {
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: -1px;
  padding: 5px;
  background: #1d1d1d;
  color: white;
  line-height: 1.5rem;
  width: 300px;
  font-size: 1rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.DebtData a {
  color: grey;
  float: right;
  cursor: alias;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #1b2828;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

button {
  margin: 3px;
  padding: 8px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:active {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.debt-decreasers {
  width: 23%;
  position: absolute;
  top: 3rem;
  left: 0;
  height: calc(100% - 3rem);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.debt-decreasers > div {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #2e2e2e;
  color: white;
  border-top: 2px solid white;
}

.debt-decreasers > div h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  background: #5b5b5b;
  border-bottom: 2px solid black;
}

.debt-increasers {
  width: 23%;
  position: absolute;
  top: 3rem;
  right: 0;
  height: calc(100% - 3rem);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.debt-increasers > div {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #2e2e2e;
  color: white;
  border-top: 2px solid white;
}

.debt-increasers > div h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  background: #5b5b5b;
  border-bottom: 2px solid black;
}

.game-updates-container {
  max-width: calc(100% - 46%);
  height: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: scroll;
  border-top: 1px solid grey;
}

.game-updates-container .game-updates {
  min-height: 100%;
  width: 100%;
  background: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.game-updates-container .game-updates p {
  color: white;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
  background: grey;
}

.game-updates-container .game-updates p:last-child {
  background: #c4c4c4;
  color: black;
}

.debt-graph-container {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  width: calc(100% - 46%);
  height: calc(100% - 10rem - 10rem - 3rem);
  background: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.debt-graph-container .debt-graph {
  border: 1px solid black;
  height: 90%;
  width: 90%;
}

.debt-graph-container .debt-graph .line-chart {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .debt-decreasers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .debt-increasers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=app.css.map */