@import "./auto-clickers";
@import "./manual-clickers";
@import "./debtApi";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  background: linear-gradient(to bottom, rgb(255, 255, 255), grey);
  min-height: 100vh;
  padding: 3% 0;
  text-align: center;
}
header {
  .main-title {
    font-size: 5vw;
  }
  .main-UsDebt {
    background: rgb(46, 46, 46);
    color: white;
    font-size: 4vw;
    width: fit-content;
    margin: auto;
    padding: 1rem 2rem;
    box-shadow: 0 0 20px grey;
  }
  .main-debtPerSec {
    background: rgb(46, 46, 46);
    color: white;
    font-size: 1.5vw;
    width: fit-content;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    box-shadow: 0 0 20px grey;
  }
}
button {
  margin: 3px;
  padding: 8px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.1);
}
button:active {
  box-shadow: 0 0 10px black;
  transform: scale(1.05);
}

.game-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
  background: grey;
}
.debt-decreasors {
  flex: 1;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  > div {
    min-height: 10vh;
    min-width: 12vw;
    background: rgb(46, 46, 46);
    color: white;
  }
}
.debt-increasors {
  flex: 1;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  > div {
    flex: 1;
    min-height: 10vh;
    min-width: 10vw;
    background: rgb(46, 46, 46);
    color: white;
  }
}

.game-updates-container {
  border: 5px solid black;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  .game-updates {
    height: 95%;
    width: 95%;
    background: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    p {
      height: fit-content;
      width: fit-content;
      color: white;
      text-align: right;
      margin: 0 1rem 1rem;
      padding: 5px;
      border-radius: 5px;
      background: grey;
    }
    p:last-child{
      background: rgb(71, 138, 71);
    }
  }
}

@media screen and (max-width: 768px) {
  .debt-decreasors {
    flex-direction: column;
  }
  .debt-increasors {
    flex-direction: column;
  }
}
